<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}"/>
    <add key="ida:Tenant" value="devex007test.onmicrosoft.com"/>
    <add key="ida:tenantid" value="28c759a6-bfe2-4453-a8da-50df327ef612"/>
    <add key="ida:ClientId" value="98bc287f-43e8-42ef-9a2c-211790c95343"/>
    <add key="todo:TodoListResourceId" value="https://devex007test.onmicrosoft.com/TodoListService-NativeDotNet"/>
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321"/>
    <add key="ida:CertName" value="CN=TodoListDaemonWithCert"/>
  </appSettings>
</configuration>
